        body {
            margin: 30;
            padding: 40;
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #1c357a, #ffffff);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 23%; /* Tamanho ajustado */
            text-align: center;
        }

        .container h2 {
            margin: 0 0 10px; /* Margin ajustado */
            padding: 15px 0; /* Padding ajustado */
            background-color: #1c357a; /* Azul mais forte */
            color: #fff;
            border-radius: 8px 8px 0 0; /* Borda superior arredondada */
        }

        .form-group {
            margin-bottom: 15px; /* Espaçamento ajustado */
        }

        .form-group label {
            display: block;
            text-align: left;
            margin-bottom: 5px;
            margin-left: 13px;
            color: #333;
        }

        .form-group input {
            width: 80%;
            padding: 8px; /* Tamanho ajustado */
            border: 1px solid #1c357a; /* Azul mais forte */
            border-radius: 0 0 4px 4px; /* Borda inferior arredondada */
        }

        .btn {
            background-color: #1c357a; /* Azul mais forte */
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
